@import url('https://fonts.googleapis.com/css?family=Pacifico');

#box {
  position:fixed;
  left:50%;
  bottom:0;

 /* margin-top:-25px;
  margin-left:-25px;*/
  height:50px;
  width:50px;
  background:red;
  -webkit-animation:bounce 1s infinite;
}

@-webkit-keyframes bounce {
  0%       { bottom:15px; }
  25%, 75% { bottom:15px; }
  50%      { bottom:20px; }
  100%     {bottom:0;}
}

h1 {
	text-align: center;
	font-family: garamond;
	color: #156bff;
	font-size: 30px;
	border: 2px dotted;
	width: 15%;
	padding-left:12px;
}

h2 {
	font-family: Pacifico;
	font-size: 28px;

}

.selfie {
	border: 15px groove;
}

section {
	font-family: sans-serif;
	color:#30a5a4;
	line-height: 1.5em;
}

li {line-height: 2em;}

#email {
	color: maroon;
}

#git {
	color:#a35ea2;
}

#port {
	color: #449c40;
}

